.features-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit , minimax(300px, 1fr));
  gap:30px;
  padding: 40px;
  }

.features-cards {
 background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(14px);
  border-radius: 16px;
  padding: 25px;
  color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}



.card-3 {
  grid-column: span 2;
  flex-wrap: wrap;
  text-align: left;
  position: relative;
 
}

.card-3 p{
  max-width: 440px;
  margin: 30px 0;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;

}

.card-3 .card-image{ 
 position: absolute;
 top: 20px;
 right: 10px;

}


.card-4{
  grid-column: span 2;
  
  
}