.features-container {
  width: 100%;
  margin-top: 9rem;
  color: #ececee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

.features-content {
  max-width: 600px;
  padding: 20px;
  max-width: 100%;
}

.features-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 30px;
}

.features-subtitle {
  font-weight: 300;
  color: #cccc;
  line-height: 1.6;
}

@media (max-width: 1020px) {
  .features-container {
    margin-top: 6rem;
    
    
  }
  .features-title {
    font-size: 2.5rem;
  }
  
}



@media (max-width: 768px) {
  .features-title {
    font-size: 2rem;
  }
  .features-subtitle {
    font-size: 1.1rem;
  }
}