.features-container {
  width: 100%;
  height: 140vh;
  margin-top: 60px;
  color: #ececee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

.features-content {
  max-width: 600px;
  padding: 20px;
  
  max-width: 100%;
}

.features-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 30px;
}

.features-subtitle {
  font-weight: 300;
  color: #cccc;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .features-title {
    font-size: 2.2rem;
  }

  .features-subtitle {
    font-size: 1rem;
  }
}

