.analysis-dashboard{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.analysis-dashboard img{
    width: 80%;
}

@media (max-width:470px){
    .analysis-dashboard img{
        width: 100%;
        height: ;
    }
}